<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
      <form action="" method="post">
        <div>
          <label for="">Email address</label>
          <input type="text" name="email">
        </div>
        <div>
          <label for="">Gender</label>
          <input type="text" name="gender">
        </div>
        <div>
          <label for="">Mobile phone number</label>
          <input type="text" name="phone">
        </div>
        <div>
          <label for="">Date birth</label>
          <input type="date" name="birthday">
        </div>
        <div>
          <label for="">First Name</label>
          <input type="text" name="firstName">
        </div>
        <div>
          <label for="">Last Name</label>
          <input type="text" name="lastName">
        </div>
        <div>
          <label for="">Street</label>
          <input type="text" name="street">
        </div>
        <div>
          <label for="">House number</label>
          <input type="number" name="house">
        </div>
        <div>
          <label for="">Zip</label>
          <input type="text" name="zip">
        </div>
        <div>
          <label for="">City</label>
          <input type="text" name="city">
        </div>
        <button type="submit">Submit</button>
      </form>
    </body>
</html>
